[2013-10-24 14:20] juvenn opened #1 "Migrate from juvenn/mustache.vim and nono/vim-handlebars"
Now the repo is setup, here's the plan to migrate the code and preserve commit history:
- [x] Push all the latest code from juvenn/mustache.vim and preserving all commit history @juvenn
- [x] Bring changes from nono/vim-handlebars and try to preserve everything @nono have @bruno- @nono
- [x] Update README at mustache/vim-mode @juvenn
- [x] Deprecate juvenn/mustache.vim and nono/vim-handlebars in t

[2013-10-27 01:09] gilgen opened #2 "Syntax not set properly"
This might sound like an odd question, but I can't seem to get the syntax highlighting to take. If I manually do a `:set syntax=mustache` the example.mustache gets highlighted properly. Right now, it seems to be defaulting to html syntax even when I try to set the syntax explicitly in an `au BufReadPost *.hbs set syntax=mustache` in my .vimrc.

[2013-10-29 11:49] bruno- opened #4 "Ask an experienced vim plugin author to review this plugin and give suggestions"
Here's a suggestion what we should do before asking Bram Moolenaar to merge our plugin to vim:
- [ ] ask an experienced vim plugin author to review our plugin and give suggestions.

Here's some people that are good with vimscript:
- `Drew Neil`, maker of `vimcasts.com` or
- `Tim Pope` - author of several very popular plugins or
- `Steve Losh` - author of this [great book about vimscript](http://le

[2013-10-29 12:00] bruno- opened #5 "Write help docs for the plugin"
Hi @juvenn , @nono ,
I suggest writing vim documentation for this plugin - another thing to do before trying to submit to vim source.
Here are some sections that would be helpful:
- [ ] matchit support - describe how `%` command can be used in mustache / handlebars files
- [ ] mustache / handlebars abbreviations and how to enable them
- [ ] section movement (we could reuse a lot from README file)

[2013-11-02 04:02] patrickkettner opened #6 "html filetype triggers html errors on partials"
I have an application with a large number of partials. Since dbc4258564, syntastic gives html errors like

[code]

[2013-11-04 18:56] thomasboyt opened #7 "Rename repo for Vundle compatibility"
Downloading this plugin via Vundle:

[code]

places the plugin in `.vim/bundle/vim-mode` which is really nondescript.

Vundle doesn't have a way to rename bundles anything other than the repo name (as far as I can tell), so if this repo could be named something along the lines of `mustache.vim`, `mustache-vim-mode`, etc., it would make things a lot clearer.

[2013-11-08 22:41] #2 closed, assigned to nobody

[2013-12-01 05:43] #7 closed, assigned to nobody

[2013-12-18 21:40] eccentric-j opened #9 "Inline Template Support"
Hi there! I noticed the syntax highlighting doesn't seem to work for inline templates like

[code]

A friend found a fix:
https://gist.github.com/raneksi/5620562

Could that be included in an official capacity to support inline templates?

[2013-12-27 21:44] littke opened #10 "Text object for whole element"
Great job on the plugin and the text object support (`dae`).

In regular HTML, I frequently use both `da<` and `dat`, which modifies the `<singletag>` and `<wholetag>asdf</wholetag>` respectively.

I was looking for something like this for handlebars. Currently only the former version is available as a text object — am I right? There's no way to select an entire if-case, such as `vat` does for an

[2014-01-07 17:28] danielb2 opened #11 "Documentation issue with installation"
Following the instructions:

[code]

[2014-02-23 14:56] #1 closed, assigned to juvenn

[2014-02-23 17:29] #10 closed, assigned to nobody

[2014-02-23 17:48] #11 closed, assigned to nobody

[2014-03-11 00:36] Gaelan opened #16 "Also highlight html tags"
There is a way to embed one filetype inside another. https://github.com/mintplant/vim-literate-coffeescript is an example of this.

[2014-03-11 13:59] #16 closed, assigned to nobody

[2014-03-28 06:45] Layzie opened #17 "`*.hbs` file's sytnax set to `html`"
When open `*.hbs` file, then `:set syntax` returns `syntax=html`.
[nono/vim-handlebars](https://github.com/nono/vim-handlebars) syntax looks good.

Is there any help?

[2014-03-28 10:18] #17 closed, assigned to nobody

[2014-05-23 22:11] spinlock99 opened #19 "Iterator Indentation"
When I iterate over an EmberArray, the entire loop has the same level of indentation:

    {{#each visible_page itemController='ScheduledReport'}}
    {{scheduled-report-table-row}}
    {{scheduled-report-table-row-child}}
    {{/each}}

It would be nice if the items inside the loop were indented one level more than the iterator tag:

    {{#each visible_page itemController='ScheduledReport'}}

[2014-05-24 12:03] whatyouhide opened #20 "ae/ie fights with textobj-entire"
First, this plugin is superuseful!

I'm having some issues with https://github.com/kana/vim-textobj-entire, which also defines the `ae` and `ie` text object (`e`ntire file).

Since the textobj-entire plugin is quite more general and applied to all filetypes, is there a chance you could provide an option to disable the `ae` and `ie` text objects?

I don't want to ask to change the text object name

[2014-05-29 13:38] #20 closed, assigned to nobody

[2014-05-30 18:54] bgianpetro opened #21 "Text objects miss last character"
Hello,

When I use the text objects in this plugin, they always leave the last character.  For example, if I type 'die' on {{foobar}} I'll be left with {{r}} regardless of my position in the braces.  Likewise if I type 'dae' on {{foobar}} I'll be left with }.

I am running Vim on Windows and this is the same behavior on both versions 7.3.46 and 7.4

[2014-07-12 03:17] fmendez opened #24 "Warning while nesting html and handlerbars"
As the picture shows, I get warnings everywhere where I get code in the following structure:

[code]

The code actually works but the warnings kind of misleading.

![screen shot 2014-07-11 at 11 11 25 pm](https://cloud.githubusercontent.com/assets/845590/3560501/54fa3510-0972-11e4-8c0b-862102633496.png)

[2014-07-12 03:49] #24 closed, assigned to nobody

[2014-08-15 04:56] joeytwiddle opened #25 "The {{ insert mappings only work on the first opened mustache buffer"
I can see the `imap`s are present, but they aren't firing.  So I did some testing:

[code]

The first one also doesn't work for me, but the second one works fine.  So does Vim not always support two-key mappings in insert mode?

Or is it some plugin or config that is preventing this?  (I disabled _most_ of mine.  Vim 7.3)

I note that `iabbr` works a little better, but only if I follow `{{` with a

[2014-09-17 00:40] TylerNHansen opened #27 "improper syntax highlighting after {{!-- comment --}}"
Everything after a comment written this way is highlighted like a comment, except for things inside an open/close pair of {{.

[2014-09-19 16:48] #27 closed, assigned to nobody

[2014-11-10 23:42] trusktr opened #29 "Comments not working properly?"
I'm trying a comment like the following, but the whole thing isn't gray as expected.

![](http://i.imgur.com/rNzH8Bu.png)

The comments works if I use the older [nono/vim-handlebars](https://github.com/nono/vim-handlebars) plugin:

![](http://i.imgur.com/M0iJiX5.png)

[2014-11-25 22:46] trusktr opened #31 "Comments not working properly."
Request to reopen #29. See additional comments there.

[2014-11-25 23:40] #31 closed, assigned to nobody

[2015-01-01 19:13] tomclose commented on #6
An alternative solution is to disable the html syntax checking completely for handlebars templates, as described [here](https://github.com/scrooloose/syntastic/issues/831#issuecomment-27191934).

This amounted to adding the following line to my `.vimrc`:

[code]

[2015-01-01 19:57] bruno- commented on #6
Thanks for the update.

From what I see, there are now a couple approaches to this. With Syntastic being a very popular plugin, maybe we should "document" these solutions so they're not buried within in an issue thread?

I'm not using syntastic so I'm afraid I'd do some stupid error. If someone else wants to do it, feel free to open a pull request! I think a terse but informative addition to the r

[2015-01-20 18:12] CreativLogic commented on #2
I have this problem as well and only found the solution to add this line to my `.vimrc`:

[code]

[2015-02-04 15:47] chemjournal opened #33 "Syntax highlighting not working"
Syntax highlighting isn't working for me. For that matter, neither is indentation

My file extension is .hbs. Does that matter?
![screen shot 2015-02-04 at 7 46 21 pm](https://cloud.githubusercontent.com/assets/2960078/6043588/9a9b1580-aca6-11e4-8ff5-63e9e9e3aec9.png)

[2015-02-05 09:56] juvenn commented on #33
That should work,  have you tried manually to set the filetype?

    :set filetype=mustache

—
Sent from Mailbox

On Wed, Feb 4, 2015 at 11:47 PM, chemjournal <notifications@github.com>
wrote:

[2015-02-05 11:20] jesenko commented on #2
I had the similar issue - for some '.hbs' files syntax did not get set to `mustache`. After disabling plugins one by one, I found that [restore-view.vim](https://github.com/vim-scripts/restore_view.vim) plugin was messing things up. After disabling this plugin, setting the syntax started working again. I did not look into details of what the underlying problem was...

[2015-02-06 16:51] offero commented on #33
Does the plugin automatically set the syntax based on the extension? How can we accomplish that?

[2015-02-07 13:28] juvenn commented on #33
@Chris, yes, it should automatically being set. If not, you can try to manually set it with

    :set filetype=html syntax=mustache

This is Ex mode command, please type them when in normal mode, incuding `:`.

@chemjournal sorry, I made a mistake about the command in the first message. Please use this one instead.

The relevant file is under `ftdetect/`.

—
Sent from Mailbox

On Sat, Feb 7, 2015

[2015-02-07 17:55] offero commented on #33
Thanks. I have files ending in .hb so I had to add a line in my vimrc to handle that.

[2015-02-08 15:03] chemjournal commented on #33
Thanks a lot for the help guys, I resolved it by adding this to my vimrc

au BufReadPost *.hbs set syntax=mustache

Maybe you guys can add this to the README so that beginners using your plugin can use it for ember.js

Great work guys!

[2015-02-08 15:03] #33 closed

[2015-02-08 16:11] bruno- commented on #33
Hey @chemjournal,
as @juvenn said this plugin should automatically detect `*.hbs` extension. In fact, here's the [line](https://github.com/mustache/vim-mustache-handlebars/blob/master/ftdetect/mustache.vim#L3) that does that. In fact, that's the standard way how plugins detect file types.

It's a pitty you also have to add this too `au BufReadPost *.hbs set syntax=mustache`. Did you check if some

[2015-02-17 16:21] KaoruDev commented on #2
@CreativLogic :+1:  worked for me

[2015-02-18 21:39] bgianpetro commented on #21
Yeah, I was able to figure this out.  For some reason the behavior is different in Windows and Linux when selecting backwards in visual mode using the '%' motion.  In Windows, the '%' motion doesn't keep the cursor (last) character selected when going backwards (i.e. right to left).  So, for example, if I do 'v%' while on the last '}' here:

{{foo}}

it will select {{foo}

It does, however, keep i

[2015-03-18 10:14] dave8401 commented on #6
I'm having similar issues with handlebars within html. For now I just use `g:syntastic_html_tidy_ignore_errors ` as described by @rafi. Still I got 2 questions:

  - How would I implement the *better solution* described above?
  - What's ultimately the recommended solution?

[2015-03-28 16:09] mcquackers opened #34 "HTML/Tidy + Improving {{ abbreviation functionality"
I just installed the plugin, and it's really improving my workflow learning ember, but I've run into two small things, one cosmetic, one functional:

The cosmetic:
On a line like <form {{action "save" on="submit"}}>, I get a notice from HTML/Tidy saying "<form> unexpected or duplicate quote mark [html/tidy]".  I've replaced the double quotes with single quotes, and it still gives a notice.

It's n

[2015-04-18 00:26] jdowd commented on #25
I'm having a related issue. Steps to reproduce:

- open buffer for new file foo.hbs
- `{{` expansion does not work
- write the buffer
- `{{` still doesn't work
- close and reopen vim, and return to foo.hbs
- `{{` now works

I'm a middling vim-er at best, so maybe I'm doing something stupid, but I can't figure it out...

Vim 7.4
vimrc includes `let g:mustache_abbreviations = 1`

[2015-04-18 22:21] jdowd commented on #25
Even after all the steps above the `{{` periodically will still stop functioning. I haven't been able to discern the exact pattern in these cases, but will update if I do.

[2015-04-25 17:40] q0LoCo commented on #25
I can reproduce this problem. open foo.hbs then open bar.hbs. {{ stop to work in bar.hbs buffer.
ftplugin/mustache.vim check g:loaded_mustache_handlebars, so those mappings only work in first opened hbs buffer.

[2015-05-12 21:18] curran opened #35 "Does not work on partials"
The provided example.mustache file displays correctly with syntax highlighting, however the following Handlebars fragment does not highlight at all (text is all white):

[code]

[2015-05-12 21:32] curran commented on #35
As a workaround, I ended up putting the following into my .vimrc as an alternative to using vim-mustache-handlebars:

[code]

This will highlight all .hbs files as HTML, which is better than no highlighting.

[2015-05-12 21:56] mauriciopasquier commented on #35
According to [this](https://github.com/mustache/vim-mustache-handlebars/blob/master/ftdetect/mustache.vim) it should recognize **.hbs** files. It does for me. Anyway, you could use `filetype=html.mustache` or `syntax=mustache` to have both styles recognized instead of only html.

[2015-05-12 22:30] curran commented on #35
Oh yes, it does recognize .hbs files, that is not the issue. The issue is that it will highlight this file without any issues:

exampleA.hbs
[code]

But this file, it will not highlight:

exampleB.hbs
[code]

It seems like the plugin somehow depends on the fact that the template file should contain

[code]

The problem is that it works on fully formed HTML pages, but fails on partial templates.

[2015-05-12 22:44] curran commented on #35
Here is a case that isolates the issue more clearly:

![image](https://cloud.githubusercontent.com/assets/68416/7600174/b86b93b0-f8bd-11e4-84e6-e49d0d7815b8.png)

[2015-05-12 22:58] mauriciopasquier commented on #35
I copypasted your example before answering and it does work for me. It highlights everything, partial or complete html. Maybe it's something on your end, like conflicting rules?

Anyway, I'm not one of the devs, just a happy user :P

[2015-05-13 00:22] curran commented on #35
Interesting! Thank you for investigating. I'm not sure what the relevant environment differences might be... I'm on a fresh installation of Mac OSX, using the built-in Vim.

[code]

Perhaps I can try a newer version of Vim and see if that fixes the issue.

[2015-05-27 19:25] bndw commented on #35
Manually setting `syntax=mustache` in `vimrc` works for me on OS X Vim 7.3 (including partials).

[2015-06-02 13:19] b-long commented on #35
Inside a partial, like @curran 's example B showed the same behavior for me as @curran .  Invoking `:set syntax=mustache` had no effect.  Opening bundle/mustache/example.mustache with vim does highlight as expected.  Running `VIM - Vi IMproved 7.2 (2008 Aug 9, compiled Apr  5 2012 10:17:30)` on `CentOS release 6.5`

[2015-06-03 06:43] mauriciopasquier commented on #35
$ vim --version
    VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Aug 19 2014 18:48:03)

[2015-06-11 10:38] juvenn commented on #35
@curran @b-long exampleB.hbs is highlighted correctly on my end. Would you please try the following command **after** opening the file?

1. `:set filetype` and show us the output, which will tell the detected filetype;
2. `:set filetype=html syntax=mustache`, this resets filetype to `html` thus will potentially correct behavior.

Thank you for chime in, @mauriciopasquier!

[2015-07-10 06:51] sabithavemulapelly opened #39 "epub validation"
which case this error will come

ERROR: mimetype.epub: I/O error reading OEBPS/toc.ncx: Invalid byte 1 of 1-byte UTF-8 sequence.
in epub validation

[2015-07-10 10:54] juvenn commented on #39
@sabithavemulapelly ,

Were you trying to open `mimetype.epub` in Vim? Or when did this error happen? Could you give more context on the issue?

[2015-07-18 22:06] val-litvak opened #40 "using = to auto-indent a highlighted block of code does not work properly"
Before
<img width="268" alt="before" src="https://cloud.githubusercontent.com/assets/767168/8763686/64d58b20-2d6f-11e5-945c-2f462ee351e4.png">

After
<img width="248" alt="after" src="https://cloud.githubusercontent.com/assets/767168/8763687/69bb36c6-2d6f-11e5-88bb-0faa1b72785a.png">

Expected
<img width="211" alt="expected" src="https://cloud.githubusercontent.com/assets/767168/8763688/6efa0c84-2

[2015-07-24 19:08] zacechola commented on #25
I can also confirm that this only works in the first opened buffer.

[2015-07-27 16:34] joeytwiddle commented on #25
So the plugin loads buffer-local mappings, but it only loads them for the first detected buffer.

I suspect this is because of the first four lines in `ftplugin/mustache.vim`.

We could either remove those lines entirely, or we could change the `g:loaded_mustache_handlebars` into `b:loaded_mustache_handlebars`.

[2015-07-28 20:24] zacechola commented on #25
@joeytwiddle Removing those lines does indeed allow the script to run in every buffer. I haven't personally seen any adverse side effects of this yet today.

[2015-08-10 10:15] evserykh opened #41 "Automatic detection of file type doesn't work"
I'm using vim-mustache-handlebars plugin with Vundle. After installing plugin and opening *.hbs file syntax highlighting doesn't work. If I set filetype to mustache manually, all works fine.

[2015-08-10 11:43] #39 closed

[2015-10-06 18:21] krzkrzkrz opened #42 "Does not play nicely with Emmet Vim?"
I have `foo.hbs`

Any reason why `set ft?` is listing the file type as `html.handlebars` instead of something simple as just `handlebars`?

Reason why I am asking is because I use a Emmet Vim (open issue https://github.com/mattn/emmet-vim/issues/298) and listing the file type as `html.handlebars` doesn't work. It works with any filetype without a `.` (dot).

[2015-10-13 14:43] joukevandermaas commented on #19
I opened a pull request (#43) for this. Indeed it is based on the `eruby` indentation.

[2015-10-25 14:07] seethemhigh commented on #41
Same here. I had to add ``au BufRead,BufNewFile *.hbs setfiletype mustache`` to my .vimrc file.

[2015-10-25 14:56] bruno- commented on #19
Hi guys,
thanks to @joukevandermaas 's contribution in #43 we now have this working.

[2015-10-25 14:56] #19 closed

[2015-10-25 15:32] bruno- commented on #42
Hey,
we explicitly changed it to `html.handlebars` in #26.

This is not single filetype with a dot, but 2 filetypes. Check out `:h 'filetype'` for more info.

[2015-10-26 04:11] evserykh commented on #41
I did it too

[There is a place](https://github.com/mustache/vim-mustache-handlebars/blob/master/ftdetect/mustache.vim) (I guess) where it should happen, but it doesn't work

[2015-10-26 17:33] spinlock99 commented on #19
@joukevandermaas I've been using your fork for a few weeks now and it's awesome. So glad to see this merged into the main branch.

[2015-10-30 11:06] seethemhigh commented on #41
Interestingly, the file detection works if I add ``filetype off`` before ``filetype indent on`` even without that ``au`` thing.

[2015-11-18 08:36] larjo commented on #21
I am also on windows and I am using gvim version 7.4.827.
`execute 'norm %v%'`  still didn't work for me. I needed to add an "l" as well.
So these are the changes I made to ftplugin\mustache.vim:

     97: execute 'norm %v%l'
    ...
    112: execute 'norm v%l'

[2015-12-11 21:19] shadowhand commented on #9
It looks like this was fixed in 7aff84f8427ca5f8b544d634ba41e79f4f5cfebf

[2015-12-11 21:19] shadowhand commented on #9
Though I did have to add this to my .vimrc:

[code]

[2015-12-14 19:47] alexlafroscia opened #45 "Causes indentation issues"
This plugin seems to do some weird things with indentation, which I am always fighting against.  For example, if I have some code that looks like this: (`_` denotes location of the cursor):

[code]

and then press `RETURN` twice, what I want is for the file to look like this:

[code]

However, for some reason, it messes with the location of the `<h2>` tag, removing its indentation.  So, instead, t

[2015-12-26 02:11] moll commented on #17
I don't think this is right. Mustache is useful for non-HTML work. Setting the filetype for all Mustache files to HTML interferes with that.

[2015-12-26 22:33] bruno- commented on #17
Hi,
I've only used it in the context of html templates. What else is it being used for?

[2015-12-27 09:41] moll commented on #17
Anything, really.

As [mustache(5)](https://mustache.github.io/mustache.5.html) says:

[2016-02-02 03:58] jrock2004 commented on #25
I just installed this plugin. I open an .hbs file, I type {{ what do I do to autocomplete it? What is the default keyboard shortcut? Thanks

[2016-02-02 04:15] joeytwiddle commented on #25
@jrock2004 What do you see when you do `:set filetype?`

You could try `:setfiletype mustache` and see if that loads the plugin.

Alternatively, you could do `:source /path/to/ftplugin/mustache.vim` to load the plugin.

To make it automatic, you can try putting this in your `~/.vimrc`:

    autocmd BufReadPost *.hbs _______

where _______ is one of the above commands, whichever you prefer.

[2016-02-18 21:22] JemBijoux commented on #45
This is probably very related to #40. The indenting in general is not working great.

No response here in over 2 months, even longer for that other issue. I use hdbs a lot in my day to day and want to get this productive in vim... looks like maybe I've gotta learn vimscript.

[2016-02-18 22:49] alexlafroscia commented on #45
Yeah, definitely looks related.

[2016-03-08 03:28] macoshita opened #46 "One liner block indent"
test.hbs:

[code]

After formatting:

[code]

Expected:

[code]

[2016-03-26 19:09] jrock2004 opened #47 "Shortcut to comment out code"
Does this plugin allow you to comment out the code the cursor is sitting on?

[2016-04-09 22:48] ReckoningReckoner commented on #34
I agree. I have the same issue and it's pretty annoying.

[2016-09-02 13:02] Cypher1 commented on #33
The plugin doesn't catch .html when mustache is being used in Meteor.

Cheers for a great plugin

[2016-09-15 14:24] zeroasterisk commented on #6
really old thread here, but I'd love to know a final answer too.

[2016-11-07 19:42] gnapse opened #50 "Syntax highlight does not work"
I installed this plugin using Vundle, and when I fire up vim with a .hbs file, I don't get synxtax highlight of handlebars code, only of regular html code. Is there a way to debug trying to figure out what's going on?

[2016-11-21 14:09] joerideg commented on #42
@krzkrzkrz I got it to work with Emmet, I saw I had set g:user_emmet_install_global=0 and only fired EmmetInstall when using html files. Once I removed that (to default values) emmet worked in .hbs files.

[2016-11-22 15:48] alexmiddeleer commented on #50
If you're still having this problem you might want to look at https://github.com/mustache/vim-mustache-handlebars/issues/33.

For me I mistakenly thought I had vundle installed. I had to go back and use the pathogen instructions and then remove a BufRead line from my vimrc telling vim to use filetype html for *.hbs files.

[2016-11-23 01:52] gnapse commented on #50
I somehow got this fixed and I don't know how. I don't recall having done anything new or different. But now it works. Sorry for the inconvenience. FWIW, when I check a `.hbs` file's type with the command `:set ft?` I get `html.handlebars`, not `mustache` or anything like it.

[2016-11-23 01:52] #50 closed

[2016-11-26 02:11] johnromani90 commented on #46
I have same problem

[2016-11-26 02:15] johnromani90 commented on #46
I uncommented:

runtime! indent/html.vim

in the handlebars/indent.vim partial fix

[2016-12-08 17:57] AndrewRadev commented on #45
@alexlafroscia I'm not one of the maintainers of the plugin, but maybe I can help you debug the issue. Could you give me some more info?

- What is the extension of the file you're testing? I'm asking, because "hbs" and "mustache" files get marked as slightly different filetypes. You can find the actual filetype with the `:set filetype` command. Could you tell me the result?

- What is the value o

[2016-12-08 18:14] alexlafroscia commented on #45
It seems like somewhere between February and now, this particular issue might be resolved.  I really appreciate your offer though, @AndrewRadev!

Just to be thorough, the `filetype` is `html.handlebars`, the `indentexpr` is set to `GetHandlebarsIndent()` and I'm using Neovim 0.1.7.

[2016-12-08 19:25] AndrewRadev commented on #45
It might be the version of Vim or something like that. If you were using an older version at the time (or hadn't switched to neovim at the time), the html indent might not have been compatible for whatever reason.

Either way, if it's fixed, it might be a good idea to close the issue, but it's your issue, so feel free to take some time to figure it out, if you'd like :).

[2016-12-08 23:01] #45 closed

[2017-01-30 15:07] anhari opened #54 "Syntax highlighting: Handlebars within heading tags aren't recognized as mustacheInside"
See below:

<img width="244" alt="screen shot 2017-01-30 at 10 08 10 am" src="https://cloud.githubusercontent.com/assets/6628875/22428105/cf384fc4-e6d3-11e6-8aaf-f0e312bdc5ed.png">

[2017-02-19 22:31] nelstrom commented on #34
@mcquackers it wouldn't be easy to modify the abbreviations in this plugin to behave the way that you describe. But you can define that sort of behaviour using [vim-smartinput](https://github.com/kana/vim-smartinput). These rules produce an approximation of what your describing:

[code]

[2017-03-27 02:56] nkgm commented on #45
@AndrewRadev is this meant to work with re-indent (`=`) also?  This for example:
[code]

There seem to be a few such plugins out and about. Which ones (if any) would you recommend for Ember development?

[2017-03-27 14:54] AndrewRadev commented on #45
Trying it out, I think the problem with reindenting with this plugin in this case is due to problems with single-line block components. The result in my tests is:

[code]
I have a PR that fixes this: #53. I also have a fork where I have that and one more feature implemented: https://github.com/AndrewRadev/vim-mustache-handlebars

As for recommendations, what I use is the master branch of my own fo

[2017-03-27 16:36] nkgm commented on #45
Had a few misadventures with polyglot, but got it to work in the end and it looks great! Maybe consider opening the issue tracker - just a thought :)

[2017-03-27 18:24] AndrewRadev commented on #45
Good point, I had forgotten that forks don't seem to have issues. I've enabled issues on my fork, so feel free to open any, if you find problems :).

As for polyglot, I think it just packages this plugin, or at least that's what I see from the README.

[2017-04-09 05:39] wildskyf commented on #33
For me, `:set filetype=mustache` work, but `:set filetype=handlebar` do nothing.

[2017-04-10 07:43] nvjkmr opened #56 "Jumping to subsequent opening/closing mustache tag"
Please let me know if there are any commands for jumping to corresponding opening or closing mustache tags.

[2017-04-21 10:54] mrzool commented on #47
To comment stuff in and out you should use a dedicated plugin. I recommend [vim-commentary](https://github.com/tpope/vim-commentary).

This plugin doesn't support vim-commentary out of the box, you need to set `commentstring` from your vimrc or use [the patch I just submitted](https://github.com/mustache/vim-mustache-handlebars/pull/57) here.

[2017-04-21 11:26] mrzool opened #58 "Syntax highlighting for comments not working as expected"
Looks like the matching patterns for `mustacheComment` need some fixing. As it is, a contained mustache region matches the end of the comment:

![screen shot 2017-04-21 at 13 15 46](https://cloud.githubusercontent.com/assets/6874363/25275277/ad7a7776-2694-11e7-912e-9875ec0e98bf.png)

There's an issue with `mustacheBlockComment` too. HTML tags coming after a block comment don't get highlighted prop

[2017-04-22 07:49] mrzool commented on #58
Should someone run into the same issue or one of the maintainers want to look into this, I [managed to get this working](https://github.com/mrzool/mustache.vim/commit/46b14994dd2d0606d91ab49d52b0e5e36da01f34) by tweaking @juvenn's older, simpler and now deprecated syntax file.

[2017-04-27 10:03] EVODelavega opened #59 "Add abbreviation/imap for `{{- -}}`"
I've added this `imap` to make life easier when writing helm files. I realize this is a gotpl specific thing, so I'm more than happy to update my PR, introducing a new config var (eg `g:gotpl_abbreviations`), and work on this some more. This abbreviation wouldn't (AFAIK) cause any problems with mustache as it stands, so I didn't think this would be a problem to add it here as a quick-win.

[2017-05-24 01:33] NullVoxPopuli opened #61 "only html is colored?"
![2017-05-23-213252_597x233_scrot](https://cloud.githubusercontent.com/assets/199018/26383208/7ac34928-3fff-11e7-9100-2e5ed662cf55.png)

what's going on here?

[2017-11-18 21:09] anhari opened #63 "Incorrect indentenation within blocks"
When using `=` in vim to fix the indentation of handlebars file, I get this result:

[code]
I think the "Ember way" of indenting these is more like this:

[code]

[2017-11-18 21:17] anhari commented on #63
I was running into this yesterday, but I can't reproduce it now.  Sorry about this, I'm going to close this issue.

[2017-11-18 21:17] #63 closed

[2018-01-09 00:50] jrock2004 opened #64 "Code Folding"
Does this plugin support code folding? This would be awesome enhancement. Not sure if this is possible

[2018-07-17 18:57] jsit commented on #54
@anhari Works for me on latest master, try again?

[2018-07-17 18:58] jsit commented on #47
@jrock2004 Please close this issue, as it's outside the scope of this plugin (which is syntax-only).

[2018-07-17 19:01] jsit opened #66 "`mustacheSection` is all the same color"
The `mustacheInside` region is much easier to read than the `mustacheSection` region, since the latter is all one color:

<img width="250" alt="screen shot 2018-07-17 at 3 00 32 pm" src="https://user-images.githubusercontent.com/643417/42839626-4417a77a-89d2-11e8-9cd9-5c4cc96797e3.png">

[2018-07-19 14:41] jsit commented on #61
I think this may be related to the bug about block comments continuing to highlight beyond their end, as shown in #29.

[2018-07-19 14:59] NullVoxPopuli commented on #61
confirmed fixed

![image](https://user-images.githubusercontent.com/199018/42950783-c30087a2-8b42-11e8-9bce-f3f0ab4dca27.png)

[2018-07-19 14:59] NullVoxPopuli commented on #61
though, maybe not related? idk

[2018-07-29 20:32] #29 closed

[2018-07-29 20:32] #58 closed

[2018-07-29 20:32] #61 closed

[2018-11-23 17:27] jsit opened #69 "Handlebars that are part of bare htmlValue break syntax highlighting"
Enter this text in Vim:

[code]

You should see some broken syntax highlighting, like so:

<img width="539" alt="screen shot 2018-11-23 at 12 24 53 pm 1" src="https://user-images.githubusercontent.com/643417/48955200-ce0dd000-ef1a-11e8-99c7-ab6c28af3530.png">

This is because `htmlValue` in the native html syntax file doesn't allow spaces unless they are enclosed in quotes; but bare handlebars are

[2018-11-23 17:39] #69 closed

[2018-11-23 18:49] #66 closed

[2018-11-23 22:04] jsit opened #71 "each-in missing from helpers"

[2018-11-23 22:05] #71 closed

[2018-11-23 22:07] jsit opened #73 "mustacheHelpers is containedin obsolete mustacheSection"

[2018-11-23 22:08] #73 closed

[2018-11-23 22:22] jsit opened #75 "Allow {{else if}} etc."

[2018-11-23 22:25] #75 closed, assigned to jsit

[2018-11-23 22:26] jsit opened #77 "Allow {{link-to}}"
https://guides.emberjs.com/release/templates/links/

[2018-11-23 22:30] #77 closed

[2018-11-23 22:31] jsit opened #79 "Allow single-line helpers like {{if...}}"
https://guides.emberjs.com/release/templates/conditionals/

[2018-11-23 22:33] #79 closed

[2018-11-24 16:07] #25 closed

[2018-11-24 16:08] jsit commented on #41
Closed by #62

[2018-11-24 18:56] #41 closed

[2018-11-24 18:57] jsit commented on #64
On second thought, I think this should maybe be implemented here. Will look into it.

[2018-11-25 22:31] jsit opened #81 "Blocks that close on same line cause extra indentation on next line"
[code]

Hitting `<Return>` in insert mode after this line, or `o` in normal mode, will cause the next line to have an extra indent; this should not be the case.

[2018-11-25 22:54] #81 closed

[2018-11-25 23:15] jsit opened #82 "Allow multi-line component blocks"
Ember syntax like this:

[code]

Should be indented properly

[2018-11-25 23:17] #82 closed

[2018-11-26 17:56] jsit commented on #46
This is working for me in latest master; can you please test again?

[2018-11-26 17:57] jsit commented on #40
This is working in the latest master for me; can you please test again?

[code]

[2018-11-26 18:03] jsit opened #83 "Lines de-indent too much if after line with only closing braces"
This block of code should be indented as follows:

[code]

Instead it's indented like this:

[code]

[2018-11-26 18:04] #83 closed

[2018-11-26 19:40] jsit opened #84 "Lines after closing braces of a multi-line expression de-indent, even inside a block expression"
The following code should indent like this:

[code]

But instead it indents like this:

[code]

[2018-11-26 21:51] #84 closed

[2018-12-16 22:20] FrancoB411 commented on #40
Getting the same issue. Just ran :PlugUpdate
The {{}} all flatten to the left rather than indent. The HTML indenting is fine though.

[2018-12-17 14:18] jsit commented on #40
@FrancoB411 What version of Vim are you using? I'm on 8.1.202 and not seeing this issue.

Try running Vim with this simple `.vimrc.mustache` and no other plugins:

[code]

`$ vim -u ~/.vimrc.mustache`

Do you have any HTML plugins that might be conflicting with VIM's native HTML indenting?

[2019-01-25 18:33] StephaniesHusband opened #86 "helpers can have else clauses too"
I see in the match_words values that `if` and `unless` are taken care of for having a possible `else` clause, but user-created helpers can have `else` clauses as well.  Can you add support for that case as well? thx

[code]

[2019-04-09 09:20] dcyriller commented on #64
This would be awesome!

If you provide me with some guidance, I could work on this.

[2019-04-24 23:15] cheonhyangzhang commented on #35
I am facing similar issue using https://github.com/joukevandermaas/vim-ember-hbs
I think @juvenn is giving the correct direction.
For me, the reason is because I have
[code]
in my .vimrc file which makes the plugin cannot set filetype and syntax correctly.
When I check the filetype and syntax in my .hbs file, it shows empty.

[2019-07-16 15:42] jsit opened #87 "Support Angle Bracket syntax"
https://github.com/emberjs/rfcs/blob/master/text/0311-angle-bracket-invocation.md

[2019-07-16 15:56] jsit opened #89 "Text objects doesn't include Angle Bracket support"
`dae` etc. doesn't work on Angle Brackets: https://github.com/emberjs/rfcs/blob/master/text/0311-angle-bracket-invocation.md

[2019-07-17 16:18] #87 closed

[2019-07-17 16:21] jsit commented on #86
This should work just fine as-is -- I'm seeing that `{{else}}` in your example is being highlighted as `mustacheConditionals`

[2019-07-17 16:28] jsit commented on #40
This may have been fixed thanks to recent PR #52. Please try again. Thanks!

[2019-07-17 16:32] jsit commented on #35
Syntax should be automatically set to `mustache` for all files with an `.hbs` extension, by `ftdetect/mustache.vim`. I'm closing; please re-open if this still isn't working for you.

[2019-07-17 16:32] #35 closed

[2019-07-17 16:33] jsit commented on #46
Closing; please re-open if this is still an issue.

[2019-07-17 16:33] #46 closed

[2019-07-17 16:34] jsit commented on #47
This may be addressed by #57; waiting on a small modification to the PR before merging.

[2019-07-17 18:05] jsit commented on #34
I think this is a problem with HTML/Tidy, not the Vim Handlebars syntax highlighting. Closing.

[2019-07-17 18:05] #34 closed

[2019-07-17 18:34] jsit commented on #56
`%` does this in Vim natively. Closing.

[2019-07-17 18:34] #56 closed

[2019-07-17 18:34] jsit commented on #9
Works; closing.

[2019-07-17 18:34] #9 closed

[2019-07-17 18:34] jsit commented on #6
This is a case for configuring Syntastic/HTMLTidy to work with mixed Handlebars/HTML code -- not within the purview of this plugin. Even without this plugin, HTMLTidy would complain about plain text in `<head>` tags. Closing. See also #34.

[2019-07-17 18:34] #6 closed

[2019-07-17 18:34] jsit commented on #42
Working for me; closing.

[2019-07-17 18:34] #42 closed

[2019-07-17 18:35] #86 closed

[2019-07-17 18:35] #47 closed

[2019-07-17 18:35] #40 closed

[2019-07-17 18:38] jsit commented on #21
Works for me, please test with current master.

[2019-07-17 18:38] #21 closed

[2019-07-17 19:08] AndrewRadev opened #91 "Usage of `s:in_block_expr` causes non-deterministic behaviour"
I'm noticing issues with this particular snippet in the example file:

[code]

The second closing curly bracket indents one shiftwidth too many, but this is affected by the mutation of `s:in_block_expr` -- it sort of depends on what line you indent *before* you indent that one, because repeated invocations that change `s:in_block_expr` are "remembered" and things get very confusing when I try to f

[2019-07-17 19:21] jsit commented on #91
Hm, I'm actually not seeing this on the latest `master` with a minimal `.vimrc`. I get this:

[code]

[code]

Can you please delete any `mkview` stuff and try again? Thanks.`

[2019-07-17 20:10] jsit commented on #91
It looks like this may be happening due to your hanging indent PR #55? I pulled that and I *do* see this problem there.

[2019-07-18 15:52] AndrewRadev commented on #91
On master, open the example file directly with `vim example.mustache`. Jump to line 95, and then type `==` to reindent just that one line. For me, the `}}` gets indented one more shiftwidth. Does it not for you?

For a different expression of the same problem, open the example file with `vim example.mustache`, and then run `:echo GetHandlebarsIndent(95)`. I get the following output:

[code]

Do yo

[2019-07-18 15:55] jsit commented on #91
No, this works fine for me. I'm on Vim 8.1.800 and am using the minimal `.vimrc` shown above. I'm on commit `915c93c` of `vim-mustache-handlebars`.

[2019-07-18 16:01] jsit commented on #91
Sorry, actually, yes, this does happen -- but if I `==` on the line above it, then `==` again on that line, it goes back to where it should be. If I visually select the whole block and do `=`, it indents correctly.

[2019-07-18 16:02] jsit commented on #91
But, I'm not able to get `E121: Undefined variable: s:in_block_expr`.

[2019-07-18 16:17] AndrewRadev commented on #91
The `s:in_block_expr` variable is effectively global state. The `GetHandlebarsIndent` function is called whenever Vim needs to get the indent of a line, and whether or not this line blows up depends on whether the function has been called in such a way that it enters one of the above if-clauses:

[code]

You could go elsewhere, run `==` on that line, go back to line 95 and run `==` and it might en

[2019-07-18 17:00] jsit commented on #91
Ahh, I'm starting to understand. You're right, I *do* get that error when calling the function before I ever indent anything. I misunderstood. I'll look into this; feel free to open a PR, too. Thanks!

[2019-07-18 17:32] jsit commented on #91
Portions of that indent file were written with visual mode indenting in mind only, I'm remembering.

[2019-07-18 17:35] jsit commented on #91
Your example rewrite of the function seems to be working for me. You can throw that into a PR and get rid of all `s:in_block_expr` references, I believe. Thanks so much!!

[2019-07-18 17:44] jsit opened #92 "Indent doesn't work for Angle Brackets"
Angle Bracket syntax isn't correctly indented.

[2019-08-05 15:29] tlindsay opened #94 "Variables with substring that match other helpers are not highlighted correctly"
![image](https://user-images.githubusercontent.com/2797532/62475854-89a22780-b76b-11e9-9afa-555c31ea655a.png)

If a variable contains the substring `if`, it highlights `if` as though it were a conditional.
The variable portion matches to: `hi<mustacheHbsComponent> trans<mustacheHbsComponent> lo<mustacheHbsComponent>`
While the `if` substring matches to: `hi<mustacheConditionals> trans<mustacheCond

[2019-08-05 15:32] tlindsay commented on #94
![image](https://user-images.githubusercontent.com/2797532/62476244-38defe80-b76c-11e9-91ce-bf2bc071b672.png)
This isn't a problem if the `hbs` clause is inside of a header tag, because the whole thing matches to `hi<htmlH1> trans<htmlH1> lo<Title>`

[2019-08-08 15:51] tlindsay commented on #94
This behavior also occurs with the substring `let`:
![image](https://user-images.githubusercontent.com/2797532/62717854-498cb000-b9ca-11e9-8832-f38738fd5df8.png)
Substring Match: `hi<mustacheHelpers> trans<mustacheHelpers> lo<Repeat>`
Correct Match: `hi<mustacheHbsComponent> trans<mustacheHbsComponent> lo<mustacheHbsComponent>`

[2019-08-22 13:43] jsit opened #95 "Comments inside angle brackets aren't highlighted correctly"
[code]

<img width="173" alt="Screen Shot 2019-08-22 at 9 43 12 AM" src="https://user-images.githubusercontent.com/643417/63519609-4365fb80-c4c1-11e9-81b1-56e278c20fc6.png">

[2019-08-22 13:45] jsit commented on #94
This should be fixed in latest; please pull and test. Thanks!

[2019-09-11 13:16] Mange opened #96 "Non-HTML mustache"
I have some nginx config files using mustache for pre-processing, but this applies to any sort of file.

If I open, for example, a `foo.json.mustache`, then the `filetype` is set to `html.mustache` instead of `json.mustache`.

I'm trying to fix some of this via my own config, but since the `au` uses `set filetype` instead of `setfiletype` this plugin overrides my own `ftdetect` declarations. (At l

[2019-12-21 16:28] AndrewRadev commented on #91
I guess this is closed by https://github.com/mustache/vim-mustache-handlebars/pull/93

[2019-12-21 16:28] #91 closed

[2020-08-08 14:59] jsit commented on #96
Try putting your `set filetype` lines into `~/.vim/after/ftplugin/nginx.vim` instead; that should cause them to fire after this plugin.

[2020-08-08 15:00] #94 closed

[2020-08-09 21:59] jsit opened #99 "Third line of multi-line block isn't indented initially"
When manually typing a multi-line block, the third line weirdly starts out de-indented, then indents correctly when a newline is entered:

1.
<img width="149" alt="Screen Shot 2020-08-09 at 5 57 41 PM" src="https://user-images.githubusercontent.com/643417/89742683-f2e90480-da69-11ea-9126-30cd6b378d57.png">

2.
<img width="150" alt="Screen Shot 2020-08-09 at 5 57 52 PM" src="https://user-images.git

[2020-08-09 22:08] jsit commented on #99
This seems to have something to do with [this conditional](https://github.com/mustache/vim-mustache-handlebars/blob/bccf83d3b2ab0b9cee22619ee8a907ac6141d18b/indent/handlebars.vim#L94-L97). I think we need to increase `ind` by another `sw` there, but it's not happening.

[2020-08-10 06:59] Mange commented on #96
Thank you. I will try this!

[2021-05-20 15:27] mhourahine opened #100 "Handlebars within an html attribute seems to break remaining syntax highlights in the buffer"
When I have a Handlebars element inside an HTML attribute such as:
[code]

It seems to break the syntax highlighting in the rest of the buffer:

<img width="885" alt="tmux" src="https://user-images.githubusercontent.com/469262/119005635-9c481980-b95d-11eb-9822-0c21deb9a804.png">

![Kapture 2021-05-20 at 11 19 33](https://user-images.githubusercontent.com/469262/119006329-488a0000-b95e-11eb-81b1-01

[2022-04-02 03:10] davgarciawork opened #102 "Filetype html.handlebars causes other plugins to fail"
Changin the filetype to html.handlebars causes other plugins to not detect the filetype. Specifically plugin 'pedro757/emmet'.

Can this filetype not remain as 'handlebars' or even 'hbs'